/* all admin pages css */
.admin-navbar {
    background-color: #0e2433;
}
.admin-navbar > a {
    color: #929292;
}

/* manage events sub navbar */
.admin-manage-events-navbar {
    background-color: #0e2433;
}
.admin-manage-events-navbar > a {
    color: #929292;
}
/* subnav css */
.college-logo-nav > img {
    width: 400px;
}
@media only screen and (max-width: 375px) {
    .college-logo-nav > img {
        width: 100%;
        height: 100%;
    }
}

/* manage events -> all events page css */
/* alumni events page css  */
.manage-all-event-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.manage-all-event-main-container
    > .manage-all-event-card-container
    .manage-all-event-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.manage-all-event-main-container
    > .manage-all-event-card-container
    .manage-all-event-card
    .card-body {
    padding-bottom: 0;
}
.manage-all-event-main-container
    > .manage-all-event-card-container
    .manage-all-event-card
    .card-body
    > a {
    text-decoration: none;
    color: black;
}
.manage-all-event-main-container
    > .manage-all-event-card-container
    .manage-all-event-card
    .card-body
    > hr {
    width: 150px;
    text-align: left;
    margin-left: 0;
    background: #929292;
    height: 2px;
}
.manage-all-event-main-container
    > .manage-all-event-card-container
    .manage-all-event-card
    > .card
    .col-md-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.manage-all-event-main-container
    > .manage-all-event-card-container
    .manage-all-event-card
    > .card
    .col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.manage-all-event-main-container
    > .manage-all-event-card-container
    .manage-all-event-card
    > .card
    .col-md-2
    p {
    padding: 15px;
}

/* manage events single event page */
/* single event css */
/* admin manage events page css  */
.single-manage-event-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.single-manage-event-main-container
    > .single-manage-event-container
    > .container
    .goto-manage-events-btn
    > a {
    color: black;
    font-weight: 400;
}

.single-manage-event-main-container
    > .single-manage-event-container
    > .container
    .goto-manage-events-btn
    img {
    width: 20px;
    margin-right: 10px;
}
.single-manage-event-main-container
    > .single-manage-event-container
    > .container
    .manage-event-meta-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.single-manage-event-main-container
    > .single-manage-event-container
    > .container
    .manage-event-meta-header
    .manage-event-action-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.single-manage-event-main-container
    > .single-manage-event-container
    > .container
    .manage-event-meta-header
    .edit-single-event-btn
    > a
    > button {
    text-decoration: none;
    color: white;
    font-weight: 400;
    margin-right: 10px;
    border: none;
    padding: 8px;
}
.single-manage-event-main-container
    > .single-manage-event-container
    > .container
    .manage-event-meta-header
    .delete-single-event-btn
    > a
    > button {
    text-decoration: none;
    color: white;
    font-weight: 400;
    margin-right: 10px;
    border: none;
    padding: 8px;
}

.single-manage-event-main-container
    > .single-manage-event-container
    .container
    .event-title
    > h2 {
    font-weight: 700;
}
.single-manage-event-main-container
    > .single-manage-event-container
    .container
    .event-title
    > hr {
    width: 150px;
    text-align: left;
    margin-left: 0;
    background: #929292;
    height: 2px;
}
.single-manage-event-main-container
    > .single-manage-event-container
    .container
    .event-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
}
.single-manage-event-main-container
    > .single-manage-event-container
    .container
    .event-image
    > img {
    width: 90%;
}

.single-manage-event-main-container
    > .single-manage-event-container
    .container
    .event-description
    > p {
    font-weight: 300;
    font-size: 20px;
}
.single-manage-event-main-container
    > .single-manage-event-container
    .container
    .event-timings {
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px -1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.single-manage-event-main-container
    > .single-manage-event-container
    .container
    .event-timings
    > h4 {
    border-left: 5px solid;
    padding-left: 15px;
    font-weight: 700;
}

.single-manage-event-main-container
    > .single-manage-event-container
    .container
    .event-timings
    > .event-date-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.single-manage-event-main-container
    > .single-manage-event-container
    .container
    .event-timings
    > .event-date-time
    > h5 {
    text-align: center;
}

@media only screen and (max-width: 425px) {
    .single-manage-event-main-container
        > .single-manage-event-container
        .container
        .event-image
        > img {
        width: 100%;
    }
}

/* manage-events -> add event css */
.add-event-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.add-event-main-container > .add-event-card-container .add-event-card {
    width: 50%;
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px -1px 4px rgb(0 0 0 / 25%);
}
.add-event-main-container > .add-event-card-container .add-event-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-event-main-container > .add-event-card-container .add-event-card > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: 10px;
}
.add-event-main-container
    > .add-event-card-container
    .add-event-card
    > form
    > input {
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 2px solid #1c4966;
    margin: 20px auto;
    background: whitesmoke;
    padding: 10px;
    outline: none;
}
.add-event-main-container
    > .add-event-card-container
    .add-event-card
    > form
    > textarea {
    width: 100%;
    /* height: 50px; */
    border: none;
    border-bottom: 2px solid #1c4966;
    margin: 20px auto;
    background: whitesmoke;
    padding: 10px;
    outline: none;
}
.add-event-main-container
    > .add-event-card-container
    .add-event-card
    > form
    > button {
    margin: 20px 30px 20px 20px;
    width: 100%;
    height: 50px;
    color: white;
    border: none;
    background: #1c4966;
    font-weight: 700;
    font-size: 18px;
}

@media only screen and (min-width: 2560px) {
    .add-event-main-container > .add-event-card-container .add-event-card {
        width: 40%;
    }
}
@media only screen and (max-width: 1024px) {
    .add-event-main-container > .add-event-card-container .add-event-card {
        width: 50%;
    }
}
@media only screen and (max-width: 768px) {
    .add-event-main-container > .add-event-card-container .add-event-card {
        width: 70%;
    }
}
@media only screen and (max-width: 425px) {
    .add-event-main-container > .add-event-card-container .add-event-card {
        width: 85%;
    }
}

/* edit event form modal css */
.edit-single-event-form-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-single-event-form-main-container > .edit-single-event-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.edit-single-event-form-main-container > .edit-single-event-form > input {
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 2px solid #1c4966;
    margin: 20px auto;
    background: whitesmoke;
    padding: 10px;
    outline: none;
}
.edit-single-event-form-main-container > .edit-single-event-form > textarea {
    width: 100%;
    /* height: 50px; */
    border: none;
    border-bottom: 2px solid #1c4966;
    margin: 20px auto;
    background: whitesmoke;
    padding: 10px;
    outline: none;
}
.edit-single-event-form-main-container > .edit-single-event-form > button {
    width: 100%;
    height: 50px;
    color: white;
    border: none;
    background: #1c4966;
    font-weight: 700;
    font-size: 18px;
}

/* invite alumni page css */
/* alumni manage-events page css  */
.manage-event-invite-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.manage-event-invite-main-container
    > .manage-event-card-container
    .manage-event-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.manage-event-invite-main-container
    > .manage-event-invite-card-container
    .manage-event-invite-card
    .card-body {
    padding-bottom: 0;
}
.manage-event-invite-main-container
    > .manage-event-invite-card-container
    .manage-event-invite-card
    .card-body
    > a {
    text-decoration: none;
    color: black;
}
.manage-event-invite-main-container
    > .manage-event-invite-card-container
    .manage-event-invite-card
    .card-body
    > hr {
    width: 150px;
    text-align: left;
    margin-left: 0;
    background: #929292;
    height: 2px;
}
.manage-event-invite-main-container
    > .manage-event-invite-card-container
    .manage-event-invite-card
    > .card
    .col-md-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.manage-event-invite-main-container
    > .manage-event-invite-card-container
    .manage-event-invite-card
    > .card
    .col-md-5
    > .event-invite-alumni-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.manage-event-invite-main-container
    > .manage-event-invite-card-container
    .manage-event-invite-card
    > .card
    .col-md-5
    > .event-invite-alumni-buttons
    > button {
    width: 100%;
    margin: 5px;
    height: 50px;
    color: white;
    border: none;
    outline: none;
}
.manage-event-invite-main-container
    > .manage-event-invite-card-container
    .manage-event-invite-card
    > .card
    .col-md-5
    > .event-invite-alumni-buttons
    > .see-event-details-btn {
    background-color: #0e2433;
}
.manage-event-invite-main-container
    > .manage-event-invite-card-container
    .manage-event-invite-card
    > .card
    .col-md-5
    > .event-invite-alumni-buttons
    > .event-invite-alumni-btn {
    background-color: #1c4966;
}
.manage-event-invite-main-container
    > .manage-event-invite-card-container
    .manage-event-invite-card
    > .card
    .col-md-5
    > .event-invite-alumni-buttons
    > .event-invite-alumni-list-btn {
    background: #45b6fe;
}

/* invite alumni page css */
/* see invited alumni list modal css */
#see-invited-alumni-list-modal .invited-alumni-search-bar {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
#see-invited-alumni-list-modal .invited-alumni-search-bar > input {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding-left: 10px;
    background-color: whitesmoke;
}
#see-invited-alumni-list-modal .invited-alumni-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    background: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px -1px 4px rgb(0 0 0 / 25%);
}
#see-invited-alumni-list-modal .invited-alumni-list-item > .row {
    width: 100%;
}
#see-invited-alumni-list-modal
    .invited-alumni-list-item
    > .row
    .invited-alumni-info {
    height: 100%;
    width: 100%;
    padding: 15px 0;
}
#see-invited-alumni-list-modal
    .invited-alumni-list-item
    > .row
    .invited-alumni-info
    > p {
    margin: 0;
}
#see-invited-alumni-list-modal
    .invited-alumni-list-item
    > .row
    .invited-alumni-see-details-button {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#see-invited-alumni-list-modal
    .invited-alumni-list-item
    > .row
    .invited-alumni-see-details-button
    > button {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: white;
    background: #0e2533;
}

/* invite alumni page css */
/* see non invited alumni list modal css */
#invite-alumni-to-event-modal .invite-to-event-alumni-search-bar {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
#invite-alumni-to-event-modal .invite-to-event-alumni-search-bar > input {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding-left: 10px;
    background-color: whitesmoke;
}
#invite-alumni-to-event-modal .alumni-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    background: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px -1px 4px rgb(0 0 0 / 25%);
}
#invite-alumni-to-event-modal .alumni-list-item > .row {
    width: 100%;
}
#invite-alumni-to-event-modal .alumni-list-item > .row .alumni-info-short {
    height: 100%;
    width: 100%;
    padding: 15px 0;
}
#invite-alumni-to-event-modal .alumni-list-item > .row .alumni-info-short > p {
    margin-bottom: 5px;
}
#invite-alumni-to-event-modal
    .alumni-list-item
    > .row
    .see-alumni-profile-and-invite-btn {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#invite-alumni-to-event-modal
    .alumni-list-item
    > .row
    .see-alumni-profile-and-invite-btn
    > button {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: white;
    margin: 10px;
    background: #0e2533;
}
#invite-alumni-to-event-modal
    .alumni-list-item
    > .row
    .see-alumni-profile-and-invite-btn
    > button:last-child {
    background: #1c4966;
}

/* send an invite modal css */
#invitation-title-message-modal {
    z-index: 1111111111;
}
#invitation-title-message-modal form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#invitation-title-message-modal form > input,
textarea {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #0e2533;
    outline: none;
    padding: 10px;
}
#invitation-title-message-modal form > button {
    width: 100%;
    height: 50px;
    color: white;
    outline: none;
    border: none;
    background: #0e2533;
}

/* alumni details page css */
.alumni-info-page-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.alumni-info-page-main-container .alumni-info-page-container > .container {
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px -1px 4px rgba(0, 0, 0, 0.25);
}
.alumni-info-page-main-container
    .alumni-info-page-container
    > .container
    .alumni-info-left-part {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}
.alumni-info-page-main-container
    .alumni-info-page-container
    > .container
    .alumni-info-left-part
    > .alumni-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alumni-info-page-main-container
    .alumni-info-page-container
    > .container
    .alumni-info-left-part
    > .alumni-image
    > img {
    border-radius: 100%;
    border: 1px solid #0e2433;
}

.alumni-info-page-main-container
    .alumni-info-page-container
    > .container
    .alumni-info-left-part
    > .alumni-account-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.alumni-info-page-main-container
    .alumni-info-page-container
    > .container
    .alumni-info-left-part
    > .alumni-account-info
    > p {
    width: 100%;
    text-align: center;
    margin: 0;
}

.alumni-info-page-main-container
    .alumni-info-page-container
    > .container
    .alumni-info-right-part {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.alumni-info-page-main-container
    .alumni-info-page-container
    > .container
    .alumni-info-right-part
    > p {
    width: 100%;
}

/* alumni search page css */
.search-alumni-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.search-alumni-main-container .search-alumni-container {
    width: 100%;
    height: 100%;
}
.search-alumni-main-container .search-alumni-container .alumni-search-bar {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.search-alumni-main-container
    .search-alumni-container
    .alumni-search-bar
    > input {
    width: 100%;
    height: 60px;
    border: none;
    padding: 10px;
    outline: none;
    border-bottom: 1px solid black;
    padding-left: 10px;
    background-color: whitesmoke;
}
.search-alumni-main-container
    .search-alumni-container
    .alumni-search-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    background: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px -1px 4px rgb(0 0 0 / 25%);
}
.search-alumni-main-container
    .search-alumni-container
    .alumni-search-list-item
    > .row {
    width: 100%;
}
.search-alumni-main-container
    .search-alumni-container
    .alumni-search-list-item
    > .row
    .alumni-info-short {
    height: 100%;
    width: 100%;
    padding: 15px 0;
}
.search-alumni-main-container
    .search-alumni-container
    .alumni-search-list-item
    > .row
    .alumni-info-short
    > p {
    margin-bottom: 5px;
}
.search-alumni-main-container
    .search-alumni-container
    .alumni-search-list-item
    > .row
    .see-alumni-profile-btn {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.search-alumni-main-container
    .search-alumni-container
    .alumni-search-list-item
    > .row
    .see-alumni-profile-btn
    > button {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: white;
    margin: 10px;
    background: #0e2533;
}
.search-alumni-main-container
    .search-alumni-container
    .alumni-search-list-item
    > .row
    .see-alumni-profile-btn
    > button:last-child {
    background: #1c4966;
}

/* event requests page css */
.event-requests-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.event-requests-main-container
    > .event-requests-container
    .event-requests-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.event-requests-main-container
    > .event-requests-container
    .event-requests-card
    .card-body {
    padding-bottom: 0;
}
.event-requests-main-container
    > .event-requests-container
    .event-requests-card
    .card-body
    > a {
    text-decoration: none;
    color: black;
}
.event-requests-main-container
    > .event-requests-container
    .event-requests-card
    .card-body
    > hr {
    width: 150px;
    text-align: left;
    margin-left: 0;
    background: #929292;
    height: 2px;
}
.event-requests-main-container
    > .event-requests-container
    .event-requests-card
    > .card
    .col-md-12:last-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.event-requests-main-container
    > .event-requests-container
    .event-requests-card
    > .card
    .col-md-12:last-child
    > .row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.event-requests-main-container
    > .event-requests-container
    .event-requests-card
    > .card
    .col-md-12:last-child
    > .row
    > .col-md-6
    > button {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    color: white;
}
.event-requests-main-container
    > .event-requests-container
    .event-requests-card
    > .card
    .col-md-12:last-child
    > .row
    > .col-md-6:first-child
    > button {
    background-color: #0e2433;
}

.event-requests-main-container
    > .event-requests-container
    .event-requests-card
    > .card
    .col-md-12:last-child
    > .row
    > .col-md-6
    > button {
    background-color: #1c4966;
}
