/* all alumni pages css */
.alumni-navbar {
    background-color: #0e2433;
}
.alumni-navbar > a {
    color: #929292;
}
/* subnav css */
.college-logo-nav > img {
    width: 400px;
}
@media only screen and (max-width: 375px) {
    .college-logo-nav > img {
        width: 100%;
        height: 100%;
    }
}
/* alumni events page css  */
.event-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.event-main-container > .event-card-container .event-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.event-main-container > .event-card-container .event-card .card-body {
    padding-bottom: 0;
}
.event-main-container > .event-card-container .event-card .card-body > a {
    text-decoration: none;
    color: black;
}
.event-main-container > .event-card-container .event-card .card-body > hr {
    width: 150px;
    text-align: left;
    margin-left: 0;
    background: #929292;
    height: 2px;
}
.event-main-container > .event-card-container .event-card > .card .col-md-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.event-main-container > .event-card-container .event-card > .card .col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.event-main-container > .event-card-container .event-card > .card .col-md-2 p {
    padding: 15px;
}

/* single event css */
/* alumni events page css  */
.single-event-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.single-event-main-container
    > .single-event-container
    > .container
    .goto-events-btn
    > a {
    color: black;
    font-weight: 400;
}
.single-event-main-container
    > .single-event-container
    > .container
    .goto-events-btn
    img {
    width: 20px;
    margin-right: 10px;
}
.single-event-main-container
    > .single-event-container
    .container
    .event-title
    > h2 {
    font-weight: 700;
}
.single-event-main-container
    > .single-event-container
    .container
    .event-title
    > hr {
    width: 150px;
    text-align: left;
    margin-left: 0;
    background: #929292;
    height: 2px;
}
.single-event-main-container > .single-event-container .container .event-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
}
.single-event-main-container
    > .single-event-container
    .container
    .event-description
    > p {
    font-weight: 300;
    font-size: 20px;
}
.single-event-main-container
    > .single-event-container
    .container
    .event-timings {
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px -1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.single-event-main-container
    > .single-event-container
    .container
    .event-timings
    > h4 {
    border-left: 5px solid;
    padding-left: 15px;
    font-weight: 700;
}

.single-event-main-container
    > .single-event-container
    .container
    .event-timings
    > .event-date-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.single-event-main-container
    > .single-event-container
    .container
    .event-timings
    > .event-date-time
    > h5 {
    text-align: center;
}

/* all invitations page css */
.invitation-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.invitation-main-container > .invitation-card-container .invitation-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.invitation-main-container
    > .invitation-card-container
    .invitation-card
    .card-body {
    padding-bottom: 0;
}
.invitation-main-container
    > .invitation-card-container
    .invitation-card
    .card-body
    > a {
    text-decoration: none;
    color: black;
}
.invitation-main-container
    > .invitation-card-container
    .invitation-card
    .card-body
    > hr {
    width: 150px;
    text-align: left;
    margin-left: 0;
    background: #929292;
    height: 2px;
}
.invitation-main-container
    > .invitation-card-container
    .invitation-card
    > .card
    .col-md-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.invitation-main-container
    > .invitation-card-container
    .invitation-card
    > .card
    .col-md-2
    p {
    padding: 15px;
}

/* single invitation page css */
.single-invitation-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.single-invitation-main-container
    > .single-invitation-container
    > .container
    .goto-invitations-btn
    > a {
    color: black;
    font-weight: 400;
}
.single-invitation-main-container
    > .single-invitation-container
    > .container
    .goto-invitations-btn
    img {
    width: 20px;
    margin-right: 10px;
}
.single-invitation-main-container
    > .single-invitation-container
    .container
    .invitation-title
    > h2 {
    font-weight: 700;
}
.single-invitation-main-container
    > .single-invitation-container
    .container
    .invitation-title
    > hr {
    width: 150px;
    text-align: left;
    margin-left: 0;
    background: #929292;
    height: 2px;
}
.single-invitation-main-container
    > .single-invitation-container
    .container
    .invitation-description
    > p {
    font-weight: 300;
    font-size: 20px;
}
.single-invitation-main-container
    > .single-invitation-container
    .container
    .accept-invitation-btn {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-invitation-main-container
    > .single-invitation-container
    .container
    .accept-invitation-btn
    > a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.single-invitation-main-container
    > .single-invitation-container
    .container
    .accept-invitation-btn
    > a
    > button {
    width: 100%;
    height: 50px;
    color: white;
    font-weight: 700;
    background: #1c4966;
    border: none;
}
.single-invitation-main-container
    > .single-invitation-container
    .container
    .see-event-details-btn {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-invitation-main-container
    > .single-invitation-container
    .container
    .see-event-details-btn
    > a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.single-invitation-main-container
    > .single-invitation-container
    .container
    .see-event-details-btn
    > a
    > button {
    width: 100%;
    height: 50px;
    color: white;
    font-weight: 700;
    background: #45b6fe;
    border: none;
}

/* request to host event page css */
.request-to-host-event-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.request-to-host-event-main-container
    > .request-to-host-event-card-container
    .host-event-request-card {
    width: 50%;
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px -1px 4px rgb(0 0 0 / 25%);
}
.request-to-host-event-main-container
    > .request-to-host-event-card-container
    .host-event-request-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.request-to-host-event-main-container
    > .request-to-host-event-card-container
    .host-event-request-card
    > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: 10px;
}
.request-to-host-event-main-container
    > .request-to-host-event-card-container
    .host-event-request-card
    > form
    > input {
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 2px solid #1c4966;
    margin: 20px auto;
    background: whitesmoke;
    padding: 10px;
    outline: none;
}
.request-to-host-event-main-container
    > .request-to-host-event-card-container
    .host-event-request-card
    > form
    > textarea {
    width: 100%;
    /* height: 50px; */
    border: none;
    border-bottom: 2px solid #1c4966;
    margin: 20px auto;
    background: whitesmoke;
    padding: 10px;
    outline: none;
}
.request-to-host-event-main-container
    > .request-to-host-event-card-container
    .host-event-request-card
    > form
    > button {
    margin: 20px 30px 20px 20px;
    width: 100%;
    height: 50px;
    color: white;
    border: none;
    background: #1c4966;
    font-weight: 700;
    font-size: 18px;
}

@media only screen and (min-width: 2560px) {
    .request-to-host-event-main-container
        > .request-to-host-event-card-container
        .host-event-request-card {
        width: 40%;
    }
}
@media only screen and (max-width: 1024px) {
    .request-to-host-event-main-container
        > .request-to-host-event-card-container
        .host-event-request-card {
        width: 50%;
    }
}
@media only screen and (max-width: 768px) {
    .request-to-host-event-main-container
        > .request-to-host-event-card-container
        .host-event-request-card {
        width: 70%;
    }
}
@media only screen and (max-width: 425px) {
    .request-to-host-event-main-container
        > .request-to-host-event-card-container
        .host-event-request-card {
        width: 85%;
    }
}
