@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}
.jumbotron {
    background-color: #1c4966;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    color: white;
    margin-bottom: 0;
    padding: 2rem 1rem;
}
.jumbotron > img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.jumbotron > h1 {
    color: #c6c4c4;
    font-weight: 400;
    text-align: center;
}

/* main area */
.main-area {
    background-image: url("../res/mu_area.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 55vh;
}
.main-area > .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main-area > .container > a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.main-area > .container > a.login-btn {
    margin: 10px;
    color: #0e2433;
}
.main-area > .container > a.register-btn {
    margin: 10px;
    color: white;
}
.login-btn {
    width: 200px;
    height: 55px;
    text-align: center;
    border-radius: 0;
    background-color: white;
    font-size: 16px;
}

.register-btn {
    width: 200px;
    height: 55px;
    border-radius: 0;
    background-color: #0e2433;
    font-size: 16px;
}

/* footer */
.footer {
    background-color: #0e2433;
    height: 50px;
    color: white;
}
.footer > .container {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .main-area {
        background-size: 100% cover;
    }
}
@media only screen and (max-width: 425px) {
    .main-area > .container {
        flex-direction: column;
    }
    .jumbotron > img {
        width: 150px;
        height: 150px;
    }
    .jumbotron > h1 {
        font-size: xx-large;
    }
    .jumbotron > h2 {
        font-size: large;
    }
}

/* navbar css */
.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1c4966 !important;
}
.date-and-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.date-and-time {
    margin-right: 20px;
}
.navbar-brand {
    color: white !important;
}
.date-and-profile > img {
    width: 40px;
    height: 40px;
}

/* login page css */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.login-card {
    width: 30%;
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px -1px 4px rgb(0 0 0 / 25%);
}
.login-card > .login-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px;
    width: 85%;
    margin: auto;
    margin-top: 10px;
}
.login-card > .login-nav > .admin-login-nav-item {
    padding-right: 15px;
    border-right: 1px solid black;
    margin: 0;
    cursor: pointer;
}
.login-card > .login-nav > .alumni-login-nav-item {
    padding-left: 15px;
    margin: 0;
    cursor: pointer;
}
.login-card > .login-nav > .admin-login-nav-item > p {
    margin: 0;
    font-size: x-large;
}
.login-card > .login-nav > .alumni-login-nav-item > p {
    margin: 0;
    font-size: x-large;
}

/* admin login card css */
.login-card > .admin-login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-card > .admin-login-card > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: 10px;
}
.login-card > .admin-login-card > form > input {
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 2px solid #1c4966;
    margin: 20px auto;
    background: whitesmoke;
    padding: 10px;
    outline: none;
}
.login-card > .admin-login-card > form > button {
    margin: 20px 30px 20px 20px;
    width: 100%;
    height: 50px;
    color: white;
    border: none;
    background: #1c4966;
    font-weight: 700;
    font-size: 18px;
}

/* alumni login card css */
.login-card > .alumni-login-card {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-card > .alumni-login-card > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: 10px;
}
.login-card > .alumni-login-card > form > input {
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 2px solid #1c4966;
    margin: 20px auto;
    background: whitesmoke;
    padding: 10px;
    outline: none;
}
.login-card > .alumni-login-card > form > button {
    margin: 20px 30px 20px 20px;
    width: 100%;
    height: 50px;
    color: white;
    border: none;
    background: #1c4966;
    font-weight: 700;
    font-size: 18px;
}
.login-card > .alumni-login-card > form > .alumni-register-here {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.login-card
    > .alumni-login-card
    > form
    > .alumni-register-here
    > p:first-child {
    margin: 0;
    text-align: center;
}

@media only screen and (min-width: 2560px) {
    .login-card {
        width: 20%;
    }
}
@media only screen and (max-width: 1024px) {
    .login-card {
        width: 50%;
    }
}
@media only screen and (max-width: 768px) {
    .login-card {
        width: 70%;
    }
}
@media only screen and (max-width: 425px) {
    .login-card {
        width: 85%;
    }
}

/* register page css */
.register-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.register-card > .alumni-register-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.register-card > .alumni-register-card > .register-form {
    padding: 25px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px -1px 4px rgba(0, 0, 0, 0.25);
}
.register-card > .alumni-register-card > .register-form .register-left-part {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.register-card > .alumni-register-card > .register-form .register-right-part {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.register-card > .alumni-register-card > .register-form input {
    padding: 10px;
    width: 100%;
    height: 50px;
    margin: 20px;
    border: navajowhite;
    border-bottom: 1px solid #1c4966;
    outline: none;
    background: whitesmoke;
}
.register-card > .alumni-register-card > .register-form input:disabled {
    background: #b6b4b4;
}
.register-card
    > .alumni-register-card
    > .register-form
    input:disabled::placeholder {
    color: white;
}

.register-card > .alumni-register-card > .register-form select {
    padding: 10px;
    width: 100%;
    height: 50px;
    margin: 20px;
    border: navajowhite;
    border-bottom: 1px solid #1c4966;
    outline: none;
    background: whitesmoke;
    color: gray;
}
.register-card > .alumni-register-card > .register-form textarea {
    padding: 10px;
    width: 100%;
    margin: 20px;
    border: navajowhite;
    border-bottom: 1px solid #1c4966;
    outline: none;
    background: whitesmoke;
}
.register-card > .alumni-register-card > .register-form label {
    width: 100%;
    font-weight: 700;
    padding: 0px 5px;
}
.register-card > .alumni-register-card > .register-form input[type="date"] {
    margin-top: 5px;
    color: gray;
}
.register-card > .alumni-register-card > .register-form .register-info {
    padding: 20px;
}
.register-card > .alumni-register-card > .register-form .register-info > p {
    text-align: center;
    width: 80%;
    margin: auto;
    color: #1c4966;
    font-weight: 700;
}
.register-card > .alumni-register-card > .register-form button {
    width: 100%;
    height: 50px;
    border: none;
    background: #1c4966;
    color: white;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}
